*{
    margin:0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, #b7c3ca,#6ebcec);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
main.quests{
    background-color: #EBEBEB;
    min-width: 80%;
    max-width: 100%;
    min-height: 30vh;
    text-align:center;
    border-radius: 10px;
    padding: 2rem;
    font-size: 1.5rem;
}
.btns{
    display: flex;
    flex-direction: column;
    
}
main.quests button{
    background: #55bbfa;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    border-radius: 15px;
    font-size: 1.5rem;
}
.uniQ{
    background: #d5dce0;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
}
#contagem{
    border-radius: 50px;
    background: #9ed9fc;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    max-width: 20%;
}  